<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="jscomponent" transaction-type="RESOURCE_LOCAL">

        <class>it.osl.jscomponent.entity.Prodotto</class>
    </persistence-unit>
</persistence>
